@import url("http://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800");
* {
  margin:0;
  padding: 0;
  user-select: none;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}
.side_btn {
  position: absolute;
  top: 15px;
  left: 45px;
  height: 45px;
  width: 45px;
  text-align: center;
  background: #1b1b1b;
  border-radius: 3px;
  cursor: pointer;
  transition: left 0.4s ease;
}
.side_btn.click{
  left: 260px;
}

.side_btn span {
  color: white;
  font-size: 28px;
  line-height: 45px;
}

.side_btn.click span:before{
  content: '\f00d';
}

.side_bar.show{
  left:0px;
}

.side_bar {
  position: fixed;
  width: 250px;
  left:0;
  height: 100%;
  background: #1b1b1b;
  /* left: -250px; */
  transition: left 0.4s ease;
}

.side_bar .text {
  margin: 30px;
  text-decoration: none;
  color: white;
  font-size: 25px;
  font-weight: 600;
  line-height: 65px;
  text-align: center;
  background: #1e1e1e;
}

nav ul {
  background: #1b1b1b;
  height: 100%;
  width: 100%;
  list-style: none;
}

nav ul li {
  line-height: 60px;
  border-bottom: 1px solid rgba(255,255,255,0.1);
}

nav ul li:last-child {
  border-bottom: 1px solid rgba(255,255,255,0.1);
}

nav ul li a {
  position: relative;
  color: white;
  text-decoration: none;
  font-size: 18px;
  padding-left: 40px;
  font-weight: 500;
  display: block;
  width: 100%;
  border-left: 3px solid transparent;
}

nav ul li.active a{
  color: cyan;
  background: #1e1e1e;
  border-left-color: cyan;
}

nav ul ul {
  position: static;
  display: none;
}

nav ul .serv-show.show{
  display: block;
}
nav ul ul li {
  line-height: 40px;
  border-bottom: none;
}
nav ul ul li a{
  font-size: 17px;
  color: #e6e6e6;
  padding-left: 80px;
}
nav ul ul li a:hover {
  color: cyan!important;
  background: #1e1e1e!important;
}
nav ul li.active ul li a{
  color: #e6e6e6;
  background: #1b1b1b;
  border-left-color: transparent;
}

/* nav ul ul li a:hover {

} */
nav ul li span {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  font-size: 22px;
  transition: transform 0.4s;
}

nav ul li span.rotate {
  transform: translateY(-50%) rotate(-180deg);
}

.side_bottom {
  position: fixed;
  bottom: 0;
  background: rgba(255,255,255,0.3);
  display: flex;
  width: 250px;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
  padding:10px;
}


.bottom_content span {
  color: white;
  font-weight: 500;
  font-size: 15px;
  margin-left: 10px
}
