.body {
    width: 100vh
}

table {
    table-layout: fixed;
}

table>tr,
th {
    border: 1px solid gray;
    min-height: 100px;
}

.main {
    margin: 0 auto;
    padding: 20px;
}

.main .container {
    display: flex;
    margin: 0 -5px;
}

.area {
    display: inline-block;
    padding: 0 5px;
    vertical-align: middle;
    text-align: center;
    box-sizing: border-box;
}

.area:first-child {
    width: 20%;
    align-items: center;
    justify-content: center;
    display: flex;
}

.area:last-child {
    /* width: 80%; */
}

/* .td {
    overflow: hidden;
    font-size: 14px;
    float: left;
    width: 10%;
    padding: 10px;
    border-right: 1px solid gray;
    border-width: 1px;
    border-style: solid;
    text-align: center;
} */

.saveTd {
    overflow: hidden;
    font-size: 10px;
    float: left;
    width: auto;
    padding: 10px;
    border-right: 1px solid gray;
    border-width: 1px;
    border-style: solid;
    text-align: center;
}

.show {
        background:#181818;
        color:#FFF;
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0;
        height: 300px;
        padding: 20px;
        transition: top 2s linear;
        overflow: hidden;
        box-sizing: border-box;
    
          
}

.hide {
    display: none;
}


.btn {
    position: relative;
    cursor: pointer;
    background: #26ae90;
    width: 100px;
    border: none;
    border-radius: 3px;
    color: #FFF;
    line-height: 20px;
    font-size: 12px;
    text-align: center;
    cursor: pointer;
}

.detailBtn {
    border: none;
    position: absolute;
    cursor: pointer;
    border-radius: 3px;
    color: #FFF;
    visibility: hidden;
    font-size: 12px;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    cursor: pointer;
    margin: 3px -25px;
    transition: all 300ms ease;

}

.detailTd:hover > .detailBtn{
    visibility: visible;
    background: black;
}