.main{
    overflow: auto;
    height: 100%;
	width:100%;
	height:auto;
}
.main::-webkit-scrollbar { 
    display: grid;
    width: 5px;
    height: 10px;
}
.main::-webkit-scrollbar-thumb {
  background-color: skyblue;
  border-radius: 10px;
}
.main::-webkit-scrollbar-track {
  background-color: white;
  border-radius: 10px;
  box-shadow: inset 0px 0px 5px skyblue;
}
.bigmain{
    left : 5px;
    padding: 2%;
    height: 90%;
	width:90%;
    transition: 0.5s ease;
    position: absolute;
}
.smallmain{
    padding: 2%;
    left : 260px;
    height: 70%;
	width:70%;
    transition: 0.5s ease;
    position: absolute;
}

.td{
    overflow: hidden; 
    font-size: 14px; 
    width:auto;
    border-right: 1px solid gray;
    border-width: 1px;
    border-style: solid;
    text-align: center;
}

.th{
    border-width: 10px;
    padding: 10px; 
    width: auto;
}
.mapinput{
    overflow: hidden; 
    font-size: 10px; 
    width:auto;
    border-left-width:0;
    border-right-width:0;
    border-top-width:0;
    border-bottom-width:1px;
    text-align: center;
}
.input{
    font-size: 10px; 
    width: auto;
    text-align: center;
    border:none;
    padding: 10px; 
}
.but {
    background-color: white;
    color: skyblue;
    padding: 8px 10px;
    text-align: center;
    text-decoration: none;
    font-size: 5px;
    width: 60px;
    border-style:hidden;
}
.but:hover {
    background-color: #6aafe6;
    color: #d4dfe6;
}

.show{
    width: 50vw;
    height: 100vh;
    position: absolute;
    right: 0vh;
    transition: 0.5s;
    overflow: hidden;
}
.hide{
    width: 0px;
    height: 0px;
    position: absolute;
    right: 0;
    transition: 0.5s;
    overflow: hidden;
}
.dtd{
    width: auto;
    border-right: 1px gray;
    border-style: solid;
    text-align: center;
    border-width: 1px;
}
.detail{
    background-color: white;
    border-color: skyblue;
    width: auto;
    height: 100vh;
    border-width: 1px;
    border-style: solid;
    overflow: auto;
    padding: 10px;
    max-height: 90vh;
}
.detail::-webkit-scrollbar { 
    display: grid;
    width: 13px;
    height: 10px;
}
.detail::-webkit-scrollbar-thumb {
  background-color: rgb(212, 238, 248);
  border-radius: 10px;
}
.detail::-webkit-scrollbar-track {
  background-color: white;
  border-radius: 10px;
  box-shadow: inset 0px 0px 5px rgb(212, 238, 248);
}
.butHide{
    background-color: white;
    color: skyblue;
    padding: 8px 10px;
    text-align: center;
    text-decoration: none;
    font-size: 5px;
    width: 30px;
    border:none;
}
.butHide:hover{
    background-color: #6aafe6;
    color: #d4dfe6;
}
.subTitle{
    overflow: hidden; 
    font-size: 20px; 
    width:100px;
    text-align: center;
    padding: 10px;
}

.home_input{
    margin: auto;
    width: 20vw;
    height: 30vh;
    border-left-width:1px;
    border-right-width:1px;
    border-top-width:1px;
    border-bottom-width:1px;
    padding: 10px;
    text-align:center;
    float:left;
    
}
.home_div{
    margin: auto;
    width: 70%;
    padding-top: 5vh;
    padding-left: 26vw;
    float:left;
}