* {
  margin:0;
  padding: 0;
  user-select: none;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}

nav ul li.active a{
  color: cyan;
  background: #1e1e1e;
  border-left-color: cyan;
}

nav ul {
  background: #1b1b1b;
  height: 100%;
  width: 100%;
  list-style: none;
}

nav ul li {
  line-height: 60px;
  border-bottom: 1px solid rgba(255,255,255,0.1);
}

nav ul li:last-child {
  border-bottom: 1px solid rgba(255,255,255,0.1);
}

nav ul li a {
  position: relative;
  color: white;
  text-decoration: none;
  font-size: 18px;
  padding-left: 40px;
  font-weight: 500;
  display: block;
  width: 100%;
  border-left: 3px solid transparent;
}

nav ul li.active a{
  color: cyan;
  background: #1e1e1e;
  border-left-color: cyan;
}

nav ul ul {
  position: static;
  display: none;
}

nav ul .serv-show.show{
  display: block;
}
nav ul ul li {
  line-height: 40px;
  border-bottom: none;
}
nav ul ul li a{
  font-size: 17px;
  color: #e6e6e6;
  padding-left: 80px;
}
nav ul ul li a:hover {
  color: cyan!important;
  background: #1e1e1e!important;
}
nav ul li.active ul li a{
  color: #e6e6e6;
  background: #1b1b1b;
  border-left-color: transparent;
}

